.bold-text{
    /*font-weight: 700;*/
}

.o_boxed_footer, {
    font-style: italic;
    font-weight: 400;
}
.o_boxed_footer .title-footer{
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
}
.o_boxed_header {
    border-bottom: 0px solid #000;
    img {
        max-height: 100px;
    }
    h4 {
        color: $o-we-color-text-normal;
        font-weight: 700;
        text-transform: uppercase;
    }
    .row > div > div > address > div > span{
        font-size: 14px;
        font-weight: bold;
    }
}
.o_boxed_footer {
    margin-top: 200px;
    white-space: nowrap;
    border-top: 3px solid #000;
    ul {
        margin: 4px 0;
    }
}
.o_report_layout_boxed {
    address > div > span{
        font-size: 14px;
        font-weight: bold;
    }
    > h2 {
        text-transform: uppercase;
    }
    table {
        border: 1px solid #000;
        thead {
            border-bottom: 2px solid #000;
            tr th {
                text-transform: uppercase;
                border: 1px solid #000;
            }
        }
        tbody {
            color: #000;
            tr {
                td {
                    // remove border-top from standard layout
                    border-top: none;
                }
                border-bottom: 1px solid;
                /*&.o_line_section td,
                &.o_line_note td,
                &.is-subtotal td {
                    border-top: 1px solid #054357;
                    border-bottom: 1px solid #054357;
                }*/
            }
        }
    }
    
    .row > div > table,
    div#total table {
        tr {
            &:first-child,
            &.o_subtotal {
                /*border-bottom: 1px solid #054357;*/

                td:first-child {
                    border-right: none;
                }
            }
        }
    }
}

.bloc-signature{
    height: 80px;
    border-bottom: 1px solid #000;
}

.payment-term{
    font-size: 16px;
    font-weight: 700;
}

.address > div > address > address > div > span{
    font-size: 14px;
    font-weight: bold;
}
